.sidebar {
  flex: 0 0 280px;
  min-height: 100vh;
  box-shadow: 0 0 50px rgba(#000, .06);
  @include maxMdScreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    max-height: 100%;
    overflow-y: auto;
    width: 280px;
    max-width: 100%;
    transform: translateX(-100%);
    opacity: .7;
    transition: all .3s;
    &.open {
      transform: none;
      opacity: 1;
    }
  }
  &__logo {
    padding: 0 20px;
  }
  &__toggle-icon {
    font-size: 30px;
  }

  &__links {
    padding: 0;
    margin: 0;
    list-style: none;
    &__item {
      margin-bottom: 10px;
      a {
        color: $grayColor;
        font-size: 14px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        transition: all .3s;
        border-radius: 20px;
        i {
          font-size: 1.4em;
        }
      }
      hr {
        opacity: .1;
        margin: 10px 20px;
      }
      &:hover, &.active {
        a {
          color: $blueColor;
          background: $lightBlue;
        }
      }
    }
  }

  &__card {
    background: $lightBlue;
    border-radius: 30px;
    &__icon {
      color: $blueColor;
      font-size: 50px;
    }
    &__title {
      font-size: 18px;
    }
    &__desc {
      opacity: .6;
    }
  }
}
